.pnp-chat {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 0.1em;
    border: solid 1px white;
    width: fit-content;
}

.pnp-chat > div.history{
    display: flex;
    flex-direction: column;
    color: white;
}

img {
    width: 1em;
}